* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: white;
  color: black;
  position: relative;
}
/* .test {
  position: relative;
} */
.container {
  width: 90%;
  margin: auto;
}
header {
  border-top: 10px solid blue;
  background-color: rgb(219, 226, 233);
  padding: 20px;
  margin: 20px;
}
header nav {
  text-align: center;
}
header nav a {
  margin: 10px;
  display: inline-block;
}
h1,
h2,
h3,
h4,
p,
li {
  line-height: 1.5;
}
h1 {
  color: blue;
  font-size: 26px;
  text-transform: capitalize;
}
h3 {
  /* color: blue; */
  font-size: 26px;
  text-align: center;
  /* text-transform: capitalize; */
}
p {
  font-size: 24px;
}
ul,
ol {
  /* list-style-type: none; */
  list-style: none;
  margin-left: 30px;
}
li {
  font-size: 20px;
  /* display: inline-block; */
}
.why {
  margin: 20px 0;
  padding: 20px;
}
.what {
  margin: 20px 0;
  padding: 20px;
}
.post {
  width: 500px;
  margin: 20px 0;
  padding: 20px;
  background-color: rgba(222, 224, 226, 0.637);
  border-top: 5px solid rgb(76, 172, 196);
  border-bottom: 5px solid rgb(76, 172, 196);
}
.post h4 {
  text-align: center;
  text-transform: capitalize;
  font-size: 22px;
}
/* link */
a {
  text-decoration: none;
}
a:hover {
  color: red;
  font-weight: bold;
}
/* khi click thì sẽ đen */
a:active {
  background-color: black;
}
/* image */
.image {
  width: 100%;
  height: auto;
}
.post ul li img {
  width: 100%;
  height: auto;
}
/* button */
.btn {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
